body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.px1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

img {
    width: 100px;
    height: 300px;
    object-fit: cover;
}

.like-count {
    font-size: 10px;
    padding-bottom: 15px;
}

.mtx1 {
    padding-top: 5px !important;
}

.mtx2 {
    margin-bottom: 15px !important;
}

.card-title {
    font-family: "Comic Sans MS";
    color: #b2dfdb !important;
    font-weight: bold !important;
}
.mw {
    min-width: 250px;
}

.mh {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fade {
    position: relative;
    height: 3.6em;
    text-overflow: ellipsis;
    overflow: hidden;
}